{% extends "layout.html" %}

{% block content %}
    <form action="{{ url_for('save_user') }}" method="post"> 
        <div class="content_login">
        <div class="content_login_interno">
            <input type="text" value="{{request.form.get('login', '')}}" id="login" name="login" placeholder="Digite seu login" class="content_input">
            <input type="text" value="{{request.form.get('nome', '')}}" id="nome" name="nome" placeholder="Digite seu nome" class="content_input">
            <input type="password" value="{{request.form.get('senha', '')}}" id="senha" name="senha" placeholder="Digite sua senha" class="content_input">
            <input type="cpassword" value="{{request.form.get('csenha', '')}}" id="csenha" name="csenha" placeholder="Confirme sua senha" class="content_input">
           <input type="submit" value="Salvar" class="button"> 
        </div>
        </div>
   
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    </form>
{% endblock %}